﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Run.aspx.cs" Inherits="RCNWPeriodicDataUpdateWebApp.Run" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Run</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>Run
    
    </div>
    </form>
</body>
</html>
